/* Contact Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

section {
  text-align: center;
  width:60%;
  background-color:rgb(154, 195, 243);;
  margin-top: 100px;
  margin-right:auto;
  margin-left:auto;
  padding:15px;
}

hr {
  margin: 40px auto 30px;
  padding: 0;
  max-width: 512px;
  border: 0;
  border-top: solid 5px;
  text-align:center;
}
